<div class="gameContent">
		<h2>Games</h2>
		<div class="game-1-2"><h4>Franchises &amp; Genres </h4>
			<div class="gameSubDiv-1-2 gameSubDiv-1-2-1">
				<section>
					<h5>Favorite Genres</h5>
					<p>Action, Fantasy, Role Playing and Strategy/Tactics</p>
				</section>
				<section>
					<h5>Favorite Franchises</h5>
					<p>Final Fantasy, Kingdom Hearts, Chrono Trigger, 
					Horizon Zero Dawn, Last of Us, Persona, Starcraft, 
					Starcraft 2, Red Alert, Fire Emblem, Super Robot Wars</p>
				</section>
			</div><div class="gameSubDiv-1-2 gameSubDiv-1-2-2">
				<img class="hobbyImg" src="./static/images/hobbies/game/game_1.jpg"/>
			</div>
		</div>
</div>