<div class="musicContent">
		<h2>Music</h2>
		<div class="music-1-2"><h4>Instruments &amp; Artists &amp; Genres</h4>
			<div class="musicSubDiv-1-2 musicSubDiv-1-2-1">
				<div>
					<section>
						<h5>Playable Instruments</h5>
						<p>Acoustic &amp; Classical Guitar</p>
					</section>
					<section>
						<h5>Level &amp; Style</h5>
						<p>Novice Chords, Intermediate Fingerstyle</p>
					</section>
					<section>
						<h5>Status</h5>
						<p>Learning to play chords.</p>
					</section>
				</div>
			</div><div class="musicSubDiv-1-2 musicSubDiv-1-2-2">
				<div>
					<section>
						<h5>Favorite Artists</h5>
						<p>Back Street Boys, All American Rejects, Faber Drive, Dr. Dre, Imagine Dragons, Eminem, Chainsmokers</p>
					</section>
					<section>
						<h5>Favorite Genres</h5>
						<p>Hip-Hop, Country, Pop, Latin-American, House, Electronic</p>
					</section>
				</div>
			</div>
		</div>
</div>