<div class="projectDate">{{fitnessQuestDate}}</div>
<div class="fitnessQuest-1-4">
	<iframe class="fitnessQuestVid" src="https://www.youtube.com/embed/8zGpuLWtAPY" frameborder="0" seamless="" allowfullscreen=""></iframe>
</div><div class="fitnessQuest-2-4">
	<section>
	<h4>Summary</h4>
		<p>{{fitnessQuestSummary}} A 4th year undergraduate android design project. In a team of 4, we created an a hybrid application that allows the user to
		record their physical achievements and to enjoy RPG elements. The more physically active a player is, the stronger the application avatar becomes.</p>
	</section>
	<section>
		<h4>Technical Details</h4>
		<p>Created using Java in android studio with android sdk version 5.0,  API level 21 (Lollipop)</p>
		<p>Youtube, Google Maps, and Facebook API</p>
	</section>
	<section>
		<h4>Availability</h4>
		<p><a href="https://play.google.com/store/apps/details?id=com.dreamteam.fitnessquest&amp;hl=en">Currently available on the playstore</a></p>
	</section>
</div>