<div class="projectDate" >{{flipNMatchDate}}</div>
<div class="flipNMatchImgContainer"><img ng-click="enlargeImg($event)" class="projectImg" ng-src="{{flipNMatch_img1}}"/><img ng-click="enlargeImg($event)" class="projectImg" src="{{flipNMatch_img2}}"/></div>
<div class="flipNMatchContentContainer">
	<section>
		<h4>Summary</h4>
		<p>Concentration the card game on steroids. A complete overhaul to the original game featuring 3 game modes with music, taunts, animations, 
		achievements, and social networking capabilities.</p>
	</section>
	<section>
		<h4>Technical Details</h4>
		<p>Java android application created in android studio with sdk version 6.0, API level 23  (Marshmellow)</p>
		<p>Facebook and Google Achievements API</p>
	</section>
	<section>
		<h4>Availability</h4>
		<p><a href="https://play.google.com/store/apps/details?id=mlcreations.flipnmatch&amp;hl=en">Currently available on the playstore</a></p>
	</section>
</div>