<div class="projectDate">{{workoutProfileDate}}</div>
<div class="workoutProfileImgContainer"><img ng-click="enlargeImg($event)" class="projectImg-WorkoutProfile" ng-src="./static/images/project/WorkoutProfile/WorkoutProfile_1.png"/></div>
<div class="workoutProfileContentContainer">
	<section>
		<h4>Summary</h4>
		<p>A web application that tracks a users exercise progress. Allows for user input that persists even after the application closes.</p>
	</section>
	<section>
		<h4>Technical Details</h4>
		<p>Created using AngularJS, Spring Boot, Spring MVC, Hibernate, MySql, REST</p>
	</section>
	<section>
		<h4>Availability</h4>
		<p><a href="google.ca">Source code is located at my github repository</a></p>
	</section>
</div>